*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif
}

img{
  width: 100%;
}

.container{
  width: 100%;
  padding: 2rem 1.5rem;
}

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .25);
}

.d-flex{
  display: flex;
}

.space-btw{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.text-center{
  text-align: center;
}

.col{
  flex-direction: column;
}


/* HEADER */

header{
  height: 70px;
  background-color: #0084FD;
  color: white;
}

header img{
  width: 100px;
}

header .container{
  padding: 0 1.5rem;
}

/* MAIN */

.box{
  margin-bottom: 10px;
  border-radius: 2rem;
  padding: 20px 15px;
}

/* FEATURES */

.features .box{
  background-color: #B5DDFF;
  margin: 0.5rem;
  color: #0084FD;
  padding: 3rem 1rem;
}


.features .box p{
  color: #5A6E7F;
  margin-bottom: 20px;
}

.features .box h2{
  margin-bottom: 30px;
}

.features .box i{
  font-size: 5rem;
  margin-bottom: 20px;
}

.features .btn{
  background-color: #0084FD;
  border-radius: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 40%;
  text-align: center;
}

.features .btn a{
  color: white;
  text-decoration: none;
}

/* PLANNING */

.planning{
  background-color: #9792E4;
}

.planning .box{
  padding: 2rem;
  color: white;
}

.planning .box:first-child h2{
  margin: 50px 0;
  font-size: 2rem;
}

.planning .box:last-child{
  background-color: white;
  color: black;
}

.planning .box:last-child h2,
.planning .box:last-child p{
  margin: 20px 0;
}

/* TESTIMONIALS */


.testimonials h3{
  text-transform: uppercase;
  margin-bottom: 20px;
}

.testimonials h2{
  color: #9792E4;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.testimonials .box{
  background-color: #9792E4;
  color: white;
  margin-top: 20px;
}

.testimonials .box img{
  border-radius: 50%;
  display: inline-block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.testimonials .box p{
  margin-bottom: 10px;
}

.testimonials .box .name{
  text-transform: uppercase;
}



/* BENEFITS */

.benefits{
  background-color: #9792E4;
}

.benefits h2{
  color: white;
  font-size: 2rem;
  margin: 30px 0;
}

.benefits .box{
  background-color: white;
  text-align: left;
  padding: 2rem;
}

.benefits .box span{
  color: #9792E4;
  font-size: 3rem;
  margin-bottom: 50px;
}

.benefits .box h3{
  color: #9792E4;
  margin: 30px 0;
  font-size: 1.5rem;
}

.benefits .box p{
  margin-bottom: 30px;
  color: #5A6E7F;
}

.benefits .box .btn{
  background-color: #9792E4;
  border-radius: 20px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.benefits .box .btn a{
  text-decoration: none;
  color: white;
}

/* ABOUT US */

/* GET STARTED */

.get-started{
  background-color: #9792E4;
}


/* FOOTER */

footer{
  height: 225px;
  background-color: #222222;
  color: white;
}


/* RESPONSIVE */

@media screen and (min-width: 768px) {

  .features .row-1,
  .features .row-2,
  .benefits .section-content,
  .about-us{
    flex-direction: row;
  }

  .features .row-1 .box:last-child{
    width: 66%;
  }

  .features .box img{
    display: block;
  }

  .features .row-2 .box{
    width:calc(100% / 3);
  }


.features img{
  width: 50%;
}

  .benefits h2, .about-us h2{
    width: 100%;
  }
  
  .benefits .section-content{
    flex-wrap: wrap;
  }

  .benefits .box{
    width: calc(98% / 2);
  }

  .testimonials .box{
    flex-direction: row;
  }


  .testimonials .box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}

@media screen and (min-width: 1140px) {

  .container{
    width: 70%;
    margin: 0 auto;
  }

  .benefits .box{
    width: calc(95% / 3);
  }

  .features .row-1 .box:first-child{
    display: flex;
  }

  .row-1 .box-text{
    width: 50%;
  }

  .planning .section-content{
    flex-direction: row;
  }
}