*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  padding: 0 1.5rem;
}

.d-flex{
  display: flex;
}

.space-btw{
  justify-content: space-between;
}

.col{
  flex-direction: column;
}


/* HEADER */

header{
  height: 70px;
  background-color: #0084FD;
  color: white;
}

/* MAIN */

.box{
  background-color: #B5DDFF;
}