*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  padding: 2rem 1.5rem;
}

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .25);
}

.d-flex{
  display: flex;
}

.space-btw{
  justify-content: space-between;
}

.text-center{
  text-align: center;
}

.col{
  flex-direction: column;
}


/* HEADER */

header{
  height: 70px;
  background-color: #0084FD;
  color: white;
}

header .container{
  padding: 0 1.5rem;
}

/* MAIN */

.box{
  margin-bottom: 10px;
}

/* FEATURES */

.features .box{
  background-color: #B5DDFF;
}

/* PLANNING */

.planning{
  background-color: #9792E4;
}

/* TESTIMONIALS */

.testimonials .box{
  background-color: #9792E4;
}

/* BENEFITS */

.benefits{
  background-color: #9792E4;
}

.benefits .box{
  background-color: white;
}

/* ABOUT US */

/* GET STARTED */

.get-started{
  background-color: #9792E4;
}


/* FOOTER */

footer{
  height: 225px;
  background-color: #222222;
  color: white;
}


/* RESPONSIVE */

@media screen and (min-width: 768px) {

  .features .row,
  .planning,
  .benefits,
  .about-us{
    flex-direction: row;
  }

  .benefits h2, .about-us h2{
    width: 100%;
  }
  
  .benefits{
    flex-wrap: wrap;
  }

  .benefits .box{
    width: 50%;
  }

}

@media screen and (min-width: 1140px) {

  .container{
    width: 80%;
    margin: 0 auto;
  }

  .benefits .box{
    width: calc(100% / 3);
  }

}